// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.material-icons{
    font-family:'Material Icons';
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    letter-spacing:normal;
    text-transform:none;
    display:inline-block;
  }



.card {
    margin-bottom: 35px;
}

.card-body {
    height: 300px;
    background-color: #f8f9fa;
}



h1 {
    margin-bottom: 35px;
    margin-top: 30px;
}

.flex {
    display: flex;
    position: absolute;
    bottom: 36px;
    
}
.card-actions {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.card-content {
    min-height: 200px;
}

.card-image {
    height: 180px;
    background-size: 100%;
}




@font-face{
    font-family:'Material Icons';
    font-style:normal;
    font-weight:400;
    src:url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

